.div1{
    display:flex;
    justify-content: space-evenly;
}

.personalInfo{
    font-size:2.5ch;
    /* margin-top:15px; */
    list-style: none;

}

.codeTypes{
font-size:2.5ch;
margin-top:15px;
list-style: none;
}

li{
    margin-top:30px;
   
}

.info, .skills2{
font-family: 'Averia Serif Libre';
}

.cardContainer1{
    width:44vw;
}
.imgContainer1{
    width:150vw;
}
.projectTitle1{
    margin-top:50px;
    font-weight: bolder;
    font-size:2.5ch;
    text-decoration: underline;
    /* text-underline-position: below; */
}
.projectContent1{
    line-height: 25px;
    font-size:1.5ch;
}
.projectImage2{
    width:25vw;
}